.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
.footer a{
    text-decoration: none;
    color: white;

}
.footer-sub{
    padding: 3rem;
    
}
.footer-sub h3{
    font-size: 1.3rem;
}
.footer-sub p{
    font-size: 1.2rem;
}
.footer-three{
    padding: 2rem;
    
}
.footer-three i{
    font-size: 1.3rem;
}
.icons{
 display: flex;
 
 width: 150px;
}